/* 상단 영역 스타일 */
.header {
  background-color: white;
  color: black;
  padding: 30px;
  text-align: center;
}

  /* 상단 메뉴바 영역 */
  .top-menu {
    margin: 20px 30px 0 0;
  }

/* 왼쪽 영역 스타일 */
.left {
  background-color: #EAEAEA;
  color: black;
  padding: 20px;
  width: 10%;
  float: left;
  /* 왼쪽 정렬 */
  box-sizing: border-box;
  /* padding 값 포함 */
  height: calc(100vh - 120px);
  /* 높이를 상단 영역과 하단 영역의 높이만큼 조정 */
}

.left .menubar #menu-container ul img{
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.left .menubar #menu-container ul{
  padding: 0;
}

.left .menubar #menu-container ul li{
  margin-top: 20px;
}

.left .menubar #menu-container ul li a{
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.left .menubar #menu-container ul li > ul{
  font-size: 0.5rem;
}

.left .menubar #menu-container ul li > ul li > a{
  font-size: 16px;
  font-weight: none;
}

.left .menubar #menu-container ul li:hover > a {
  opacity: .5; /* 메뉴 hover 시 투명도 50% */
  transition: all .5s;
}


/* 가운데 영역 스타일 */
.center {
  background-color: whitesmoke;
  color: #595959;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  /* padding 값 포함 */
  overflow: auto;
  /* 자식 요소의 내용이 넘치면 스크롤 생성 */
  height: calc(100vh - 120px);
  /* 높이를 상단 영역과 하단 영역의 높이만큼 조정 */
}

.center h2 {
  font-size: 40px;
  color:white; 
  background-color:black;
  /* 원하는 크기로 설정 */
}

.center h3{
  font-size:20px; 
  color:white; 
  background-color:black;
}

.center h4 {
  font-size: 30px; 
  color:white; 
  background-color:black;
  margin-top:10px;
}

.custom-box {
  width: 1350px;
  height: 550px;
  margin: 40px auto; /* 가운데 정렬 */
  margin-right: 70px;
  background-color: whitesmoke; /* center 영역 바탕색과 같은 색상 */
  border: 2px solid black; /* 검정색 테두리 */
}


